<div class="container mt-5" data-controller="favorite-products">
  <div class="row">
    <div class="col-9">       
      <%= render 'products/products_table', products: @products %>
    </div>
    <div class="col-3">
      <%= render 'favorite_products/favorites_table' %>
    </div>
  </div>  
</div>
