<h1 class="text-center mb-3">New product</h1>
<br>

<div class="row d-flex justify-content-center align-items-center h-100">
  <div class="col-12 col-md-8 col-lg-6 col-xl-8">
    <div class="form-inputs">
      <%= render 'form', product: @product %>
    </div>
  </div>
</div>
